.task {
  border-bottom: 1px solid #ccc;
  padding: 1rem;
  font-weight: bold;
  font-size: 1.25rem;
}

.task:last-of-type {
  border-bottom: none;
}

li{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
}